<div id="app">

    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Catalogo de alumnos</h3>
        </div>
        <div class="col-12 col-md-4">
            <button class="btn btn-primary btn-sm" v-on:click="AbrirNuevo"> Nuevo</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td></td>
                    </tr>

                </thead>
                <tbody>
                    <tr v-for="item in lista">4
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellidoPaterno}}</td>
                        <td>{{item.apellidoMaterno}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" v-on:click="ModificarNuevo(item.idAlumno)">Modificar</button>
                            <button class="btn btn-danger btn-sm"v-on:click="Borrar(item.idAlumno)">Borrar</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="modal fade" id="nuevoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Alumno</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input class="form-control" v-model="obj.idAlumno" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" v-model="obj.nombre" />
                    </div>
                    <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input class="form-control" type="text" v-model="obj.apellidoPaterno" />
                    </div>
                    <div class="form-group">
                        <label>Apellido Materno</label>
                        <input class="form-control" type="text" v-model="obj.apellidoMaterno" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" v-on:click="Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script>
        var app = new Vue(
            {
                el: "#app",
                data:
                {
                    obj:
                    {
                        idAlumno: 0,
                        nombre: "",
                        apellidoPaterno: "",
                        apellidoMaterno: "",
                    },

                    lista: [],
                },
                methods:
                {
                    Guardar() {

                        var alumno =
                        {
                            idAlumno: this.obj.idAlumno,
                            nombre: this.obj.nombre,
                            apellidoPaterno: this.obj.apellidoPaterno,
                            apellidoMaterno: this.obj.apellidoMaterno,
                        }

                        this.lista.push(alumno);

                    },
                    Modificar() {
                        this.lista.splice(this.index, 1);
                        this.lista.push(this.obj);
                    },


                    Buscar(id) {
                        for (var i = 0; i < this.lista.length; i++) {
                            if (this.lista[i].idAlumno == id)
                                this.index = i;
                            this.obj.idAlumno = this.lista[i].idAlumno;
                            this.obj.nombre = this.lista[i].nombre;
                            this.obj.apellidoPaterno = this.lista[i].apellidoPaterno;
                            this.obj.apellidoMaterno = this.lista[i].apellidoMaterno;
                        }
                        return null
                    },
                   
                    Borrar(id){

                        this.Buscar(id);
                        this.lista.splice(this.index, 1);
                    },

                    AbrirNuevo() {
                        this.Limpiar();
                        $("#nuevoModal").modal("show");
                    },
                    ModificarNuevo(id) {
                        this.Buscar(id)
                        $("#nuevoModal").modal("show");
                    },
                    Limpiar() {
                        this.obj.idAlumno = 0;
                        this.obj.nombre = "";
                        this.obj.apellidoPaterno = "";
                        this.obj.apellidoMaterno = "";
                    }
                }

            });
    </script>
}
